.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 300px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border: 2px solid #000;
    box-sizing: border-box;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.option {
    text-align: center;
    margin: 20px 0;
}

#menu-icon {
    display: none;
}

#menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#menu a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.app button {
    font-size: larger ;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius:  5px;
}

.app img {
    margin-top: 20px;
} 
a {
    text-decoration: none;
    color: #333;
}